/* General */
html, body {
    color: #fff;
    background: rgb(16, 24, 23);
}

a {
    color: #fff;
}

a:hover {
    color: #ddd;
    text-decoration: none;
}

/* Spam protection */
span.mirror {
	unicode-bidi: bidi-override;
	direction: rtl;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

.row .col-lg-6 {
    padding: 0;
}

.row .col-lg-6.photo {
    box-shadow: 0 0 3rem #000;
}

.intro {
    padding: 200px 50px 50px 50px;
}

.intro h1.inverse {
    background: #fff;
    color: rgb(16, 24, 23);
    padding: 5px 10px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    display: inline;
}

.intro h2 {
    margin-top: 45px;
    font-size: 2em;
}

.intro h3 {
    margin-top: 25px;
}

.intro h4 {
    margin-bottom: 35px;
}

span.details {
    font-family: 'Courier New';
    display: inline-block;
    padding-top: 10px;
}

span.skill {
    display: inline-block;
    padding: 4px 8px;
    margin: 5px 5px;
    border-radius: 7px;
    box-shadow: 0 0 3rem #000;
    background: #202026;
}

i.far, i.fab {
    margin-right: 5px;
}

.left {
    float: left;
    width: 20px;
    margin-top: 10px;
}

.right {
    max-width: 520px;
}

/* Mobile devices */
@media (max-width: 1200px) {
    .row {
        position: relative;
    }

    .row .col-lg-6.photo {
        z-index: 0;
    }

    .row .col-lg-6.content {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(16, 24, 23, 0.7);
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .intro {
        padding-top: 100px;
    }

    span.skill {
        border: 1px solid #fff;
        box-shadow: 0;
        background: none;
    }
}

/* Small mobile devices */
@media (max-width: 650px) {
    .intro {
        padding: 50px 25px;
    }

    .intro h1 {
        font-size: 2em;
    }

    .intro h2 {
        font-size: 1.8em !important;
    }

    .intro h3 {
        font-size: 1.5em;
    }

    .intro h4 {
        font-size: 1.2em;
    }

    span.details {
        font-size: 0.8em;
    }
}
