---
layout: default
title: Blog
---

<section class="py-5 container">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div class="title">
				<h1>Blog</h1>
			</div>
			<div class="posts">
				{% for post in paginator.posts %}
				<div class="post">
					<h3 class="post-title">
					<a href="{{ post.url | relative_url }}">
						{{ post.title }}
					</a>
					</h3>
					<small class="text-muted">{{ post.date | date_to_string }}</small>

                	<p>{{ post.excerpt }}</p>

					{% if post.excerpt != post.content %}
					<a href="{{ post.url | relative_url }}">Read more</a>
					{% endif %}
				</div>
				{% endfor %}
			</div>

			<div class="row pagination">
				<div class="col">
					{% if paginator.next_page %}
						<a class="pagination-item older" href="/blog/page{{paginator.next_page}}">Older</a>
					{% else %}
						<span class="pagination-item older text-muted">Older</span>
					{% endif %}
				</div>
				<div class="col text-center">
					<div class="pagination-pages">Page {{ paginator.page }} of {{ paginator.total_pages }}</div>
				</div>
				<div class="col text-end">
					{% if paginator.previous_page %}
						{% if paginator.page == 2 %}
						<a class="pagination-item newer" href="/blog">Newer</a>
						{% else %}
						<a class="pagination-item newer" href="/blog/page{{paginator.previous_page}}">Newer</a>
						{% endif %}
					{% else %}
						<span class="pagination-item newer text-muted">Newer</span>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>